.active-item {
    border-left: 8px solid var(--ion-color-primary);
}
.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 270px;
    max-width: 15%;
    border-right: var(--border);
    border-left: 0;
}

.hcs {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ion-content {
    --background: #fff no-repeat 100% 100% / cover !important;
  
  }

.count:nth-last-of-type(1)
{
    color: red !important;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;


}
