<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
<ion-title>Request</ion-title>
</ion-toolbar>
</ion-header>



<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title padding color="primary" text-center>{{user.name}}</ion-card-title>
            <ion-grid>
                <ion-row class="row-style">
                    <ion-col size="12" size-md="6">
            <ion-avatar class="avatar">
                <img src="../../../assets/img/default.png">
              </ion-avatar>
                    </ion-col>
                    <ion-col size="12" size-md="6">
            <ion-card-subtitle color="dark" font="90px" text-center>Genre: {{user.user_details['genre']}}</ion-card-subtitle>
            <br>

            <ion-card-subtitle color="dark" text-center>Number: {{user.user_details.contactNumber}}</ion-card-subtitle>
            <br>
            <ion-card-subtitle color="dark" text-center>Email: {{user.email}}</ion-card-subtitle>
            <br>
            </ion-col>
              </ion-row>
            </ion-grid>

        </ion-card-header>

        <ion-card-title padding color="primary" text-center>Request Details</ion-card-title>
        
        <div *ngFor="let request of requests">
            <ion-grid>
                <div class="line">
                <ion-row>
                    <ion-col class="col-style" size="12" size-md>
            <ion-text color="primary">Price:</ion-text>
            <ion-text padding color="dark">€{{request.price}}</ion-text>
                    </ion-col>
                    <ion-col class="col-style" size="12" size-md>
            <ion-text color="primary">Details</ion-text><br>
            <ion-text padding color="dark">{{request.details}}</ion-text>
                    </ion-col>
                    <ion-col class="col-style" size="12" size-md>
            <ion-text color="primary">Date</ion-text>
            <ion-text padding color="dark">{{getFormattedDate(request.requestDate)}}</ion-text>
                    </ion-col>
            <ion-col class="col-style" size="12" size-md >
            <ion-text color="primary">Time:</ion-text>
            <ion-text padding color="dark">{{getFormattedTime(request.requestDate)}}</ion-text>
            </ion-col>
            <ion-col class="col-style" size="12" size-md>
            <ion-text color="primary">Status:</ion-text>
            <ion-text padding color="dark">{{getStatus(request.status)}}</ion-text>
            </ion-col>

                </ion-row>
                </div>
            </ion-grid>

            <ion-grid>
                <ion-row padding>
                    <ion-col size="6">
        <ion-button margin="5px" expand="full" color="success" (click)='acceptRequest(request.id)' *ngIf='request.status === 0'>Accept</ion-button>
                    </ion-col>
                    <ion-col size="6">
    <ion-button margin="5px" expand="full" color="danger" (click)='decline(request.id)' *ngIf='request.status === 0'>Decline</ion-button>
  </ion-col>
  <hr>
</ion-row>
</ion-grid>

  </div>
      </ion-card>

   
          
</ion-content>




