<ion-header>
    <ion-toolbar color="dark" text-center>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>

        
    <div *ngIf="skel">

                    <ion-card padding *ngIf="findIfEmpty()">
                        <ion-row  class="row-style">
                            <ion-col  class="row-style" size="12" size-md>
                        <ion-card-title padding text-center color="primary">No Notifications Yet</ion-card-title>
                            </ion-col>
                        </ion-row>
                    </ion-card>

    <ion-card class="hover" *ngFor="let value of acceptedValuesOther; let t = index" [attr.data-index]="t">
        <ion-card-header no-padding  (click)='goToRequest(t)'>

            <ion-grid>
                    <ion-row class="row-style">
                        <ion-col  class="col-style" size="12" size-md>
              <ion-avatar class="avatar">
              <img src="../../../assets/img/default.png">
              </ion-avatar>
                        </ion-col>
                        <ion-col  class="col-style" size="12" size-md>
              <ion-text color="dark">Request accepted by</ion-text>
                        </ion-col>
                        <ion-col  class="col-style" size="12" size-md>
                                <ion-card-title color="primary">{{value.user['name']}}</ion-card-title>
                        </ion-col>
                        <ion-col  class="col-style" size="0" size-md>

                                      </ion-col>
                    </ion-row>
                </ion-grid>
        </ion-card-header>
    </ion-card>
    
    <ion-card class="hover" *ngFor="let value of acceptedValues; let b = index" [attr.data-index]="b">
        <ion-card-header no-padding  (click)='goToAcceptedRequest(b)'>
            <ion-grid>
                <ion-row class="row-style">
                    <ion-col  class="col-style" size="12" size-md>
          <ion-avatar class="avatar">
          <img src="../../../assets/img/default.png">
          </ion-avatar>
                    </ion-col>
                    <ion-col  class="col-style" size="12" size-md>
          <ion-text color="dark">Request from</ion-text>
                    </ion-col>
                    <ion-col  class="col-style" size="12" size-md>
                            <ion-card-title color="primary">{{value.name}}</ion-card-title>
                    </ion-col>
                    <ion-col  class="col-style" size="12" size-md>
                        <ion-text color="success">Accepted</ion-text>
                                  </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>

    <ion-card class="hover" *ngFor="let value of declinedValues; let l = index" [attr.data-index]="l">
        <ion-card-header no-padding   (click)='goToRejectedRequest(l)'>
          
          <ion-grid>
              <ion-row class="row-style">
                  <ion-col  class="col-style" size="12" size-md>
        <ion-avatar class="avatar">
        <img src="../../../assets/img/default.png">
        </ion-avatar>
        
                  </ion-col>
                  <ion-col  class="col-style" size="12" size-md>
                        <ion-text color="dark">Request from</ion-text>
                                  </ion-col>
                                  <ion-col  class="col-style" size="12" size-md>
                                          <ion-card-title color="primary">{{value.name}}</ion-card-title>
                                  </ion-col>
                  <ion-col  class="col-style" size="12" size-md>
                      <ion-text color="danger">Declined</ion-text>
                                </ion-col>
              </ion-row>
          </ion-grid>
        </ion-card-header>
    </ion-card>

    <ion-card class="hover" *ngFor="let value of values; let i = index" [attr.data-index]="i">
      <ion-card-header no-padding  (click)='goToRequest(i)'>
         
          <ion-grid>
              <ion-row class="row-style">
                  <ion-col  class="col-style" size="12" size-md>
        <ion-avatar class="avatar">
        <img src="../../../assets/img/default.png">
        </ion-avatar>
                  </ion-col>
                  <ion-col  class="col-style" size="12" size-md>
                        <ion-text color="dark">Request from</ion-text>
                                  </ion-col>
                                  <ion-col  class="col-style" size="12" size-md>
                                          <ion-card-title color="primary">{{value.name}}</ion-card-title>
                                  </ion-col>
                  <ion-col  class="col-style" size="12" size-md>
                      <ion-text color="warning">Pending</ion-text>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-header>
    </ion-card>
</div>

<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>



 <div *ngIf="!skel">


            <ion-card padding *ngIf="findIfEmpty()">
                    <ion-row  class="row-style">
                        <ion-col  class="row-style" size="12" size-md>
                    <ion-card-title padding text-center color="primary"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
                        </ion-col>
                    </ion-row>
                </ion-card>



        <ion-card *ngFor="let value of acceptedValuesOther; let t = index" [attr.data-index]="t">
            <ion-card-header>
                <ion-grid>
                    <div class="hcs">
                    <ion-row align-items-start >
                        <ion-col size="12" size-md>
                            <ion-avatar class="fakeavatar">
                                <ion-spinner></ion-spinner>
                                </ion-avatar>
                        </ion-col>
                        <ion-col align-items-start class="col-style" size="12" size-md>
              <ion-card-title><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
                        </ion-col>
                        <ion-col  class="col-style" size="12" size-md>
                            <ion-text color="success"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                                      </ion-col>
                        
                    </ion-row>
                    </div>
                </ion-grid>
            </ion-card-header>
        </ion-card>
        
        <ion-card *ngFor="let value of acceptedValues; let b = index" [attr.data-index]="b">
            <ion-card-header>
                <ion-grid>
                    <ion-row class="row-style">
                        <ion-col  class="col-style" size="12" size-md>
                            <ion-avatar class="fakeavatar">
                                <ion-spinner></ion-spinner>
                                </ion-avatar>
                        </ion-col>
                        <ion-col  class="col-style" size="12" size-md>
              <ion-card-title><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
                        </ion-col>
                        <ion-col  class="col-style" size="6" size-md>
              <ion-text><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                        </ion-col>
                        <ion-col  class="col-style" size="6" size-md>
                            <ion-text color="success"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                                      </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-header>
        </ion-card>
    
        <ion-card *ngFor="let value of declinedValues; let l = index" [attr.data-index]="l">
            <ion-card-header>
              
              <ion-grid>
                  <ion-row class="row-style">
                      <ion-col  class="col-style" size="12" size-md>
                          <ion-avatar class="fakeavatar">
                              <ion-spinner></ion-spinner>
                              </ion-avatar>
                      </ion-col>
                      <ion-col  class="col-style" size="12" size-md>
                          
            <ion-card-title><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
                      </ion-col>
                      <ion-col  class="col-style" size="6" size-md>
            <ion-text><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                      </ion-col>
                      <ion-col  class="col-style" size="6" size-md>
                          <ion-text color="danger"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                                    </ion-col>
                  </ion-row>
              </ion-grid>
            </ion-card-header>
        </ion-card>
    
        <ion-card *ngFor="let value of values; let i = index" [attr.data-index]="i">
          <ion-card-header>
             
              <ion-grid>
                  <ion-row class="row-style">
                      <ion-col  class="col-style" size="12" size-md>
                          <ion-avatar class="fakeavatar">
                              <ion-spinner></ion-spinner>
                              </ion-avatar>
                      </ion-col>
                      <ion-col  class="col-style" size="12" size-md>
            <ion-card-title><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
                      </ion-col>
                      <ion-col  class="col-style" size="6" size-md>
            <ion-text><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                      </ion-col>
                      <ion-col  class="col-style" size="6" size-md>
                          <ion-text color="warning"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-text>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-header>
        </ion-card>
 </div>
        
</ion-content>
