<ion-header>
    <ion-toolbar color="dark" text-center>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let value of values">
        <ion-card-header  (click)='goToRequest(value.id)'>
          <img src="../../../assets/img/default.png">
          <ion-card-title>Request made by {{value.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
</ion-content>
