<ion-header>
    <app-header></app-header>
  <ion-toolbar>
    <ion-title>list-venues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div ion-fixed>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Genre</ion-card-subtitle>
          <ion-card-title>User name</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>

            BIOS BIOS BIOS BIOS BIOS BIOS BIOS
          BIOS BIOS BIOS BIOS BIOS BIOS BIOS
        </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Genre</ion-card-subtitle>
            <ion-card-title>User name</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
  
              BIOS BIOS BIOS BIOS BIOS BIOS BIOS
            BIOS BIOS BIOS BIOS BIOS BIOS BIOS
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Genre</ion-card-subtitle>
              <ion-card-title>User name</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
    
                BIOS BIOS BIOS BIOS BIOS BIOS BIOS
              BIOS BIOS BIOS BIOS BIOS BIOS BIOS
            </ion-card-content>
          </ion-card>
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Genre</ion-card-subtitle>
                <ion-card-title>User name</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
      
                  BIOS BIOS BIOS BIOS BIOS BIOS BIOS
                BIOS BIOS BIOS BIOS BIOS BIOS BIOS
              </ion-card-content>
            </ion-card>
            </div>
          <app-footer></app-footer>
</ion-content>
