<ion-header>
 
    <ion-toolbar color="dark" text-center>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title text-center>List Venues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngIf="user">
    <ion-text *ngIf="findIfEmpty()">No venues yet.</ion-text>
    <ion-card  *ngFor="let user of users">
        <ion-card-content no-padding (click)='goToProfile(user.id)'>
            <ion-grid>
                <ion-row class="row-style">
                    <ion-col  class="col-style" size="12" size-md>
                        
      <ion-avatar class="avatar">
            <img src="../../../assets/img/default.png">
          </ion-avatar>
                    
                    </ion-col>

              <ion-col size="12" size-md>
                  
          <ion-card-title color="primary">{{user.name}}</ion-card-title>
                
                </ion-col>
          <ion-col class="col-style" size="6" size-md>
             
          <ion-card-subtitle color="primary">Genre:</ion-card-subtitle>
          <ion-card-subtitle  class="info" color="dark">{{user.user_details.genre}}</ion-card-subtitle>
            
            </ion-col>
          <ion-col  class="col-style" size="6" size-md>
              
          <ion-card-subtitle color="primary">Number:</ion-card-subtitle>
          <ion-card-subtitle  class="info" color="dark">{{user.user_details.contactNumber}}</ion-card-subtitle>
            </ion-col>
          <ion-col  class="col-style" size="12" size-md>
 
              <ion-card-subtitle color="primary">Email:</ion-card-subtitle>
          <ion-card-subtitle  class="info" color="dark">{{user.email}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>
  </ion-card>    
    </div> 
  
  <div *ngIf="!user">
      <ion-card *ngFor="let user of users">
          <ion-card-content>
                  <ion-grid>
                      <ion-row class="row-style">
                          <ion-col  class="col-style" size="12" size-md>
                              
            <ion-avatar class="fakeavatar">
                <ion-spinner></ion-spinner>
                </ion-avatar>
                          
                          </ion-col>
  
                    <ion-col size="12" size-md>
                        
                <ion-card-title color="primary"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-title>
                      
                      </ion-col>
                <ion-col class="col-style" size="6" size-md>
                   
                <ion-card-subtitle color="dark"><ion-skeleton-text animated style="width: 40%"> </ion-skeleton-text> <br><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-subtitle>
                  
                  </ion-col>
                <ion-col  class="col-style" size="6" size-md>
                    
                <ion-card-subtitle color="dark"><ion-skeleton-text animated style="width: 40%"> </ion-skeleton-text> <br><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-subtitle>
                   
                  </ion-col>
                <ion-col  class="col-style" size="12" size-md>
                    
                    <ion-card-subtitle  color="dark"><ion-skeleton-text animated style="width: 40%"> </ion-skeleton-text> <br><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></ion-card-subtitle>
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>   
      </div>

</ion-content>
