<ion-header>
 
    <ion-toolbar color="dark" text-center>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title text-center>List Venues</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-text *ngIf="findIfEmpty()">No venues yet.</ion-text>
    <ion-card *ngFor="let user of users">
        <ion-card-header (click)='goToProfile(user.id)'>
            <ion-item>
          <ion-thumbnail slot="start">
                <img src="../../../assets/img/default.png">
              </ion-thumbnail>
              <ion-row padding>
                  <ion-col align-self-start>
              <ion-card-title>{{user.name}}</ion-card-title></ion-col>
              <ion-col align-self-center>
              <ion-card-subtitle>Genre: {{user.user_details.genre}}</ion-card-subtitle></ion-col>
              <ion-col align-self-end>
              <ion-card-subtitle>Number: {{user.user_details.contactNumber}}</ion-card-subtitle></ion-col>
              </ion-row>
            </ion-item>
        </ion-card-header>
      </ion-card>  
</ion-content>
