<ion-header>
    <app-header></app-header>
  <ion-toolbar>
    <ion-title text-center>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-fab vertical="top" horizontal="end" edge slot="fixed">
        <ion-fab-button>
          <ion-icon name="add" (click)="Editdetails()"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    <div ion-fixed>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Genre: {{user.user_details.genre}}</ion-card-subtitle>
          <ion-card-title>{{user.name}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-text>{{user.user_details.bios}}</ion-text>
        
        </ion-card-content>
      </ion-card>
    </div>
<app-footer></app-footer>
</ion-content>
