<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content  padding>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Genre</ion-card-subtitle>
          <ion-card-title>User name</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{user['bios']}}
        </ion-card-content>
      </ion-card>

<ion-button expand="full" (click)="listBands()">List Bands</ion-button>
<ion-button expand="full" (click)="listVenues()">List Venues</ion-button>
<ion-button expand="full" (click)="Navbar()">Navbar</ion-button>
<ion-button expand="full" (click)="logout()">Logout</ion-button>
</ion-content>
