

.avatar{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 150px !important;  //any size
    max-height: 150px !important; //any size 
 }

 .bio{
    margin: auto;
    text-align: center !important;
    font-size: 60px !important;
 }

 .active-item {
    border-left: 8px solid var(--ion-color-primary);
}

.card {
    background-color: #000; // black
    box-shadow: none;
  }

  ion-content{

    --ion-background-color:#111D12 !important;
}