ion-card {
  background-color: white !important;
}

ion-content {
  --background: rgba(224, 219, 219, 0.473) !important;

}

.avatar{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 150px !important;  //any size
    max-height: 150px !important; //any size 
 }

 .bio{
    margin: auto;
    text-align: center !important;
    font-size: 20px !important;
 }

 .active-item {
    border-left: 8px solid var(--ion-color-primary);
}