ion-card {
    background-color: white !important;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.07rem solid var(--ion-color-dark);
  }


  ion-content {
    --background: url('../../../assets/img/login.jpg') !important;
  
  }

  ion-card-title{
      font-size: 2rem;
  }
  

.avatar{
    margin: auto;  
    max-width: 5rem !important;  //any size
    max-height: 5rem !important; //any size 
 }

 $white-color: #fff;

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-content {
        --background: rgba(224, 219, 219, 0.473) !important;
      
      }
      ion-card {
        background-color: white !important;
        color: var(--ion-color-primary);
        width: 80%;
    
      }

      ion-card-title{
        font-size: 1.3rem;
    }
}