<ion-header>
    <ion-toolbar color="dark" text-center>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Send Request</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
      <ion-card>
      <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="10" size-xs="12">
                <div class="avatar">
                    <img src="../../../assets/img/logo.png">
                   </div>
              <ion-card-title padding color="primary" text-center>Please Fill Out Request Details</ion-card-title>
              <div padding>
    <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Your Location</ion-label>
        <ion-input type="text" placeholder="Dundalk" formControlName="location"></ion-input>
      </ion-item>
   
      <ion-item>
        <ion-label position="floating">Details</ion-label>
        <ion-textarea placeholder="I would like to book you for a wedding.." formControlName="details"></ion-textarea>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Price €</ion-label>
        <ion-input type="number" placeholder="150" formControlName="price"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Date: YYYY-MM-DD HH:mm(24h)</ion-label>
          <ion-datetime placeholder="YYYY-MM-DD HH:mm" display-format="YYYY-MM-DD HH:mm:ss" min="2019" max="2022" picker-format="YYYY-MM-DD HH:mm" formControlName="requestDate"></ion-datetime>
      </ion-item>
   
      <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Booking Request</ion-button>
    </form>
</div>
</ion-col>
</ion-row>
</ion-grid>
      </ion-card>
</ion-content>