
.avatar{
    margin: auto;  
    max-width: 6rem !important;  //any size
    max-height: 6rem !important; //any size 
 }

 $white-color: #fff;
 $height100: 100%;

ion-grid {
    width:100%;
    height: $height100;

    
}

h4 {
    font-size: 2rem;
    color: #3880ff;
}

ion-row {
    height: $height100;
}

ion-col {
    border: 1px solid #292a2c;
    background: $white-color;
}

ion-button {
    font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
        background: $white-color;
    }
    ion-col {
        border: none;
    }
    ion-content {
        --background: #fff no-repeat 100% 100% / cover !important;
      
      }
}