<ion-header>
    <ion-toolbar color="dark" text-center>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Favourite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
      <ion-card-header (click)='goToProfile(137)'>
        <ion-card-subtitle>Genre: Rock</ion-card-subtitle>
        <ion-card-title>Jason</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
        <ion-card-header (click)='goToProfile(138)'>
          <ion-card-subtitle>Genre: Rave</ion-card-subtitle>
          <ion-card-title>Stefan</ion-card-title>
        </ion-card-header>
      </ion-card>
</ion-content>
