ion-card {
  background-color: white !important;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.07rem solid var(--ion-color-dark);
}

.info {
  font-size: 0.7rem !important;
}

.hover:hover { 

  background-color: #f1f0f0 !important;
}




ion-row {
  align-items: center !important;
  justify-content: space-around!important;

}
.col-style{

  text-align: center !important;
}

// .row-style{
//   align-items: center !important;
//   justify-content: space-around !important;

// }

.avatar{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 5rem !important;  //any size
    max-height: 5rem !important; //any size 
    border: 1px solid var(--ion-color-primary);
    
 }

 .fakeavatar{
  margin: auto;
  width:100% !important;  
  height : 100% !important;  
  max-width: 5rem !important;  //any size
  max-height: 5rem !important; //any size 

  
}

 .active-item {
    border-left: 8px solid var(--ion-color-primary);
}

$white-color: #fff;
 $height100: 100%;



ion-button {
    font-weight: 300;
}
ion-button:hover { 
  --background: var(--ion-color-secondary)!important;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-content {
    --background: url('../../../assets/img/sback.png') no-repeat 100% 100% / cover !important;
  
  }
  ion-card-content {
    margin-bottom: 1rem !important;
  }
  ion-card {
    background-color: white !important;
    color: var(--ion-color-primary);
    width: 100%;
    margin-bottom: 1rem;

  }

  ion-col{
    text-align: center !important;

  }
 
  .col-style{
    text-align: center !important;
  }
  
  .row-style{
    align-items: center !important;
    justify-content: space-evenly !important;
  }

  .ion-padding, [padding] {
   --padding-start: var(--ion-padding, 0.3rem)!important;
   --padding-end: var(--ion-padding, 0.3rem)!important;
   --padding-top: var(--ion-padding, 0.3rem)!important; 
    --padding-bottom: var(--ion-padding, 0.3rem)!important; 
   padding-left: var(--ion-padding, 0.3rem)!important; 
     padding-right: var(--ion-padding, 0.3rem)!important; 
     padding-top: var(--ion-padding, 0.3rem)!important; 
    padding-bottom: var(--ion-padding, 0.3rem)!important; 
}

.avatar{
  margin: auto;
  width:100% !important;  
  height : 100% !important;  
  max-width: 4rem !important;  //any size
  max-height: 4rem !important; //any size 
  border: 1px solid var(--ion-color-primary);
  
}


ion-text {
  font-size: 1.1rem !important;
}

.info {
  font-size: 1rem !important;
}
}