<ion-header>
    <ion-toolbar color="dark" text-center>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>User Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content padding>
      <ion-card>
          <ion-card-header>
              <ion-avatar class="avatar">
                  <img src="../../../assets/img/default.png">
                </ion-avatar>
                <img src="../../../assets/img/favourite.jpg" class='favourites' (click)="storeFav(user.id)">
              <ion-card-title text-center>{{user.name}}</ion-card-title>
            <ion-card-subtitle text-center>Genre: {{user.user_details.genre}}</ion-card-subtitle>
            <ion-card-subtitle text-center>Number: {{user.user_details.contactNumber}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <ion-text class="bio">{{user.user_details.bios}}</ion-text>
          
          </ion-card-content>
        </ion-card>
      <ion-button padding expand="full" type="submit" (click)='book()'>Book</ion-button>
      
      <ion-card *ngFor="let review of reviews">
          <ion-card-header>
            <ion-card-subtitle>Rating: {{review['rating']}}</ion-card-subtitle>
            <ion-card-title>{{review['body']}}</ion-card-title>
          </ion-card-header>
        </ion-card>

      <div>
          <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
              <ion-title>Add review</ion-title>
              <ion-item>
                <ion-label position="floating">Rating</ion-label>
                <ion-input type="text" formControlName="rating"></ion-input>
              </ion-item>
           
              <ion-item>
                <ion-label position="floating">Message</ion-label>
                <ion-input type="text" formControlName="body"></ion-input>
              </ion-item>
           
              <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Add review</ion-button>
            </form>
            </div>
  </ion-content>