<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title text-center>User Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
      <ion-card>
          <ion-card-header>
              <img src="../../../assets/img/favourite.jpg" class='favourites' (click)="storeFav(user.id)">
              <ion-card-title padding color="primary" text-center>{{user.name}}</ion-card-title>
              <ion-grid>
                  <ion-row class="row-style">
                      <ion-col size="12" size-md="6">
              <ion-avatar class="avatar">
                  <img src="../../../assets/img/default.png">
                </ion-avatar>
                      </ion-col>
                      <ion-col size="12" size-md="6">
              <ion-card-subtitle color="dark" font="90px" text-center>Genre: {{user.user_details.genre}}</ion-card-subtitle>
              <br>

              <ion-card-subtitle color="dark" text-center>Number: {{user.user_details.contactNumber}}</ion-card-subtitle>
              <br>
              <ion-card-subtitle color="dark" text-center>Email: {{user.email}}</ion-card-subtitle>
              </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card-header>
        
          <ion-card-content  padding text-center>
            <ion-text color="dark" class="bio">{{user.user_details.bios}}</ion-text>
          </ion-card-content>
          <ion-button margin="5px" expand="full" type="submit" (click)='book()'>Book</ion-button>
        </ion-card>
      <ion-button padding expand="full" type="submit" (click)='book()'>Book</ion-button>
      <ion-text>Reviews:</ion-text>
      <ion-card-subtitle *ngIf="findIfEmpty()">No reviews yet.</ion-card-subtitle>
      <ion-card *ngFor="let review of reviews">
  
          <ion-card-header>
            <ion-card-subtitle>Rating: {{review['rating']}}</ion-card-subtitle>
            <ion-card-title>{{review['body']}}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card>
          <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
              <ion-title padding color="primary" text-center>Add review</ion-title>
              <ion-item>
                <ion-label padding position="floating">Rating</ion-label>
                <ion-input padding type="text" formControlName="rating"></ion-input>
              </ion-item>
           
              <ion-item>
                <ion-label padding position="floating">Message</ion-label>
                <ion-input padding type="text" formControlName="body"></ion-input>
              </ion-item>
           
              <ion-button margin="5px" expand="full" type="submit" [disabled]="!credentialsForm.valid">Add review</ion-button>
            </form>
        </ion-card>
            
  </ion-content>
