<ion-header>
    <ion-toolbar color="dark" text-center>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
    <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="10" size-xs="12">
              <div class="avatar">
                  <img src="../../../assets/img/logo.png">
                 </div>
            <div text-center>
              <h4>Edit Details</h4>
            </div>
            <div padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
    <ion-item lines="none">
      <ion-label position="stacked">Genre</ion-label>
      <select expand="full" type="email" formControlName="genre" value="{{user['genre']}}">
          <option disabled selected>Select One</option>
          <option  value="Jazz">Jazz</option>
          <option  value="Rock">Rock</option>
          <option  value="Pop">Pop</option>
          <option  value="Folk">Folk</option>
          <option  value="Hip hop">Hip hop</option>
          <option  value="Country">Country</option>
          <option  value="Dance">Dance</option>
          <option  value="Funk">Funk</option>
          <option  value="Techno">Techno</option>
        </select>

    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Bio</ion-label>
      <ion-textarea formControlName="bios" value="{{user['bios']}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contact Number</ion-label>
      <ion-input type="text" formControlName="contactNumber"  value="{{user['contactNumber']}}"></ion-input>
    </ion-item>
 
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Add details</ion-button>
  </form>
</div>
</ion-col>
</ion-row>
</ion-grid>
      </ion-card>
</ion-content>