<ion-header>
    <ion-toolbar color="dark" text-center>

        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-card>
    <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="10" size-xs="12">
              <div class="avatar">
                  <img src="../../../assets/img/logo.png">
                 </div>
                 <ion-card-title padding color="primary" text-center>Edit Details</ion-card-title>
            <div padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
 
    <ion-item lines="none">
      <ion-label position="stacked">Genre*</ion-label>
      <select expand="full" type="email" formControlName="genre" value="{{user['genre']}}">
          <option disabled selected>Select One</option>
          <option  value="Acoustic">Acoustic</option>
          <option  value="DJ">DJ</option>
          <option  value="Rock">Rock</option>
          <option  value="Metal">Metal</option>
          <option  value="Aribute Act">Tribute Act</option>
          <option  value="Singer">Singer</option>
          <option  value="Jazz">Jazz</option>
          <option  value="R&B">R&B</option>
          <option  value="Pop">Pop</option>
          <option  value="Folk">Folk</option>
          <option  value="Hip hop">Hip hop</option>
          <option  value="Country">Country</option>
          <option  value="Dance">Dance</option>
          <option  value="Funk">Funk</option>
          <option  value="Indie">Indie</option>
        </select>

    </ion-item>
 
    <ion-item>
      <ion-label position="stacked">Bio*</ion-label>
      <ion-textarea formControlName="bios" value="{{user['bios']}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contact Number*</ion-label>
      <ion-input type="number"  formControlName="contactNumber"  value="{{user['contactNumber']}}"></ion-input>
    </ion-item>
 
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Add details*</ion-button>
  </form>
  <ion-button expand="full" (click)="moveToImage()">Change image</ion-button>
</div>
</ion-col>
</ion-row>
</ion-grid>
      </ion-card>
</ion-content>