<ion-header>
  <ion-toolbar color="dark">
<ion-title text-center>GigZ</ion-title>
</ion-toolbar>
</ion-header>



<ion-content padding>

  <ion-card>
      <ion-card-header>
          <ion-grid>
              <ion-row class="row-main">
                  <ion-col size="12" size-md="4">
                      <div class="avatar">
                          <img src="../../../assets/img/logo.png">
                         </div>
                  </ion-col>
                  <ion-col size="12" size-md="8">

   
                                <ion-card-title padding color="primary" text-center>What is GigZ?</ion-card-title>
                                <ion-text color="dark" class="bio" text-center>GigZ allows local entertainers and local venues to get in contact with each other. Each user creates their own profile to be able to provide key information about themselves such as preferred genre, mobile number, email and bio increase their appeal.  It provides a stream line process of making bookings directly to their desired party without having to go through a third party. The application has many useful features to ensure you know exactly what you are booking, such as a review system to provide unfiltered past experiences. It also has a favouriting system to allows users an easy approach of rebooking venues or entertainers they enjoyed in the past. All this is absolutely free! So sign up now and increase your popularity today.</ion-text>
                                <ion-card-subtitle padding color="dark" class="bio" text-center><b>Feel free to contact us: <a href='info@gigz.com'>info@gigz.com</a></b></ion-card-subtitle>
                            </ion-col>
 
          
            </ion-row>
          </ion-grid>

     

          <ion-grid>
              <ion-row >
                  <ion-col size="6" md-size="12">
      <ion-button margin="5px" expand="full" type="button"  routerLink="/login" class="button1">Login</ion-button>
                  </ion-col>
                  <ion-col size="6" md-size="12">
  <ion-button margin="5px" expand="full" type="button"  routerLink="/register" class="button1">Sign Up!</ion-button>
</ion-col>

</ion-row>
</ion-grid>

<ion-grid>
    <ion-row class="row-main2">
        <ion-col size="12" size-md="4">
            <div class="avatar2">
                <img src="../../../assets/img/profile.png">
               </div>
               <ion-card-title color="primary" text-center>Profile</ion-card-title>
               <ion-card-subtitle padding color="dark"  text-center>Create your own custom profile page with your preferences to ensure you only get the type of bookings you want!</ion-card-subtitle >
        </ion-col>
        <ion-col size="12" size-md="4">
            <div class="avatar2">
                <img src="../../../assets/img/star.png">
               </div>
               <ion-card-title color="primary" text-center>Favorites</ion-card-title>
               <ion-card-subtitle padding color="dark" text-center>Favourite all the bands and venues you enjoyed working with most to make booking them again simple and straight forward!</ion-card-subtitle >

 </ion-col>
 <ion-col size="12" size-md="4">
    <div class="avatar2">
        <img src="../../../assets/img/booking.png">
       </div>
       <ion-card-title color="primary" text-center>Booking</ion-card-title>
       <ion-card-subtitle padding color="dark" text-center>Make bookings directly without going through any third parties in a simple straight forward way!</ion-card-subtitle >

  </ion-col>

  </ion-row>
</ion-grid>
</ion-card-header>

    </ion-card>


        
</ion-content>




