ion-card {
    background-color: white !important;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0.07rem solid var(--ion-color-dark);
  }
  
  
  ion-card-title{
    font-size: 1.5rem !important;
  }
  
  .heading{
    margin: auto !important;
    text-align: center !important;
    font-size: 2rem !important;
    border: 0.07rem solid var(--ion-color-dark);
  }
  
  .favourites {
    width:2rem;
    height:auto;
    position:absolute;
    right:1rem;
    top:1rem;
    z-index: 100;
  }

  
  
  
  
  ion-skeleton-text {
  animation: pulse 1s infinite ease-in-out;
  }
  
  ion-text{
    font-size: 1rem !important;
  }
  
  
  .reviews{
    font-size: 1.5rem !important;
  }
  .row-style{
    align-items: center !important;
    justify-content: flex-start !important;
  }
  
  .row-main
  {
    align-items: center !important;
    justify-content: flex-start !important;
    padding-inline-start: 2rem!important;
    padding-inline-end: 2rem!important;
    margin-bottom: 0.5rem!important;
  }

  .row-main2
  {
    padding-inline-start: 2rem!important;
    padding-inline-end: 2rem!important;
    margin-bottom: 0.5rem!important;
  }
  
  
  .col-style{
  
    text-align: center !important;
  
  }
  
  .avatar{
      margin: auto;
      width:100% !important;  
      height : 100% !important;  
      max-width: 14rem !important;  //any size
      max-height: 14rem !important; //any size 
      padding-top: 1rem !important;
      
   }

   .avatar2{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 8rem !important;  //any size
    max-height: 8rem !important; //any size 
    padding-top: 1rem !important;
    margin-bottom: 1.5rem !important;
    
 }
  
   .bio{
      margin: auto;
      text-align: center !important;
      font-size: 1rem !important;
   }

   .bio2{
    margin: auto;
    text-align: center !important;
    font-size: 0.8rem !important;
    padding-bottom: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
 }
  
   .active-item {
      border-left: 8px solid var(--ion-color-primary);
  }
  
  $white-color: #fff;
   $height100: 100%;
  
  
  
  ion-button {
      font-weight: 300;
  }
  ion-button:hover { 
    --background: var(--ion-color-medium-tint)!important;
  }
  
  
  @media (min-width: 240px) and (max-width: 768px) {
    ion-content {
        --background: url('../../../assets/img/sback.png') no-repeat 100% 100% / cover !important;
      
      }
      ion-card-content {
        margin-bottom: 1rem !important;
      }
    ion-card {
      background-color: white !important;
      color: var(--ion-color-primary);
      width: 90%;
      margin: auto;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0.07rem solid var(--ion-color-dark);
    }
  
    
    ion-col{
      text-align: center !important;
  
    }
    .row-style{
      justify-content: center !important;
   
      padding-inline-start: 0.2rem!important;
      padding-inline-end: 0.2rem!important;
    }
  
    ion-col{
      text-align: center !important;
  
    }
    
   
    .col-style{
      text-align: center !important;
    }
  
    .row-main
    {
      align-items: center !important;
      justify-content: flex-start !important;
      padding-inline-start: 0rem!important;
      padding-inline-end: 0rem!important;
    }

      
  .avatar{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 6rem !important;  //any size
    max-height: 6rem !important; //any size 
    
  }

  .avatar2{
    margin: auto;
    width:100% !important;  
    height : 100% !important;  
    max-width: 4rem !important;  //any size
    max-height: 4rem !important; //any size 
    margin-bottom: 0.5rem !important;
    
  }
  
  ion-text{
  font-size: 1rem !important;
  }
  
  } 