<ion-header>
  <ion-toolbar color="dark" text-center>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Post a Review</ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content padding>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Rating</ion-label>
      <ion-icon name="star" *ngFor="let num of [1,2,3,4,5]" (click)="rate(num)" [ngStyle]="{'color' :getColor(num)}" 
      formControlName="rating"></ion-icon>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Review Details</ion-label>
      <ion-textarea formControlName="body"></ion-textarea>
    </ion-item>

 
    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Post Review</ion-button>
  </form>
</ion-content>